.root {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin-top: 30px;
	padding-bottom: 50px;
}

.inputBlock {
	position: relative;
}

.input {
	width: 310px;
	border: none;
	color: #6c6c6c;
	border-bottom: 1px solid #c4c4c4;
	padding-bottom: 5px;
	outline: none;
}

.searchLogo {
	position: absolute;
	right: 2px;
	cursor: pointer;
}

.contentBlock {
	width: 56px;
	display: flex;
	justify-content: space-between;
}

.contentBlock > img {
	cursor: pointer;
}
